.calender {
    height: 750px;
    width: 1000px;
    box-shadow: 12px 13px 120px 0px #00000040;
    border-radius: 50px;
    background-color: white;
}

.calenderheadline {
    font-family: 'Century Gothic Paneuropean', sans-serif;
    font-size: 40px;
    font-weight: 800 !important;
}

.btn {
    border: 0px;
    background: none;
    outline: none;
}

.arrowimg {
    margin-top: -20px;
    border: 0px;
    outline: none;
}

.datebox {
    height: 110px;
    width: 130px !important;
    border: 2px solid grey;
    margin-left: -20px;
}

.holidaybox {
    background: #FFE2DB;
    color: #C50E22;
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins";
}

.availablebox {
    background: #DBFFE3;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins";

}

.btn:disabled,
fieldset:disabled .btn {
    border-color: floralwhite !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: floralwhite !important;
}