.contactbg{
    width: 100%;
    background-image: url("../Assets/Assets/ContactPage/Contacts.png");
    background-size: cover;
    position: relative;
    
}
.contactbg2{
    width: 100%;
    background-image: url("../Assets/Assets/ContactPage/Contacts2.png");
}

.contactheadline{
    font-size:50px;
    font-weight: 800;
    font-family: "Poppins";
}

.contacttext{
    font-family: 'Century Gothic Paneuropean', sans-serif;
    text-align: start;
}

.icons{
    height:250px;
    width: 260px;
    margin-top: -50px;
    position: relative;
}

.icontext{
    font-weight: 800;
    margin-top: -50px;
    position: absolute;
    font-size: 15px;
    font-family: 'Century Gothic Paneuropean', sans-serif;
    line-height: 1;
    word-spacing: 1px;
}