.investorbg{
    background: #FFEFEB;
}

.inverstorheadline{
    font-size: 50px;
    font-weight: 800;
    font-family: "Poppins";
}

.return{
    height: 200px;
    width: 1070px !important;
    background-color: white;
    /* position: absolute; */
    /* margin-top:-450px; */
    /* margin-left: 200px !important;  */
    border-radius: 20px;
    border-bottom: 8px solid #F96945 ;
    box-shadow: 8px 12px 20px 0px #00000040;

}

.returntext{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    line-height: 0.5;
}

@media (max-width:768px) {
    .inverstorheadline{
        font-size: 20px;
    }
    .investorbg{
        height: 100px;
    }

    .return{
        width: 350px !important;
        height: 100px !important;
        margin-left: 20px !important;
        margin-top: -150px !important;
    }

    .returntext{
        font-size: 10px;
    }
}

