.upcomingbg {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.16) 0%, #FEDFC7 100%);
}

.upcomingheadline {
    font-size: 50px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.event {
    background-color: white;
    height: 260px;
    width: 900px !important;
    transform: skewX(165deg);
    box-shadow: 4px 4px 4px 0px #00000040;
    border-radius: 10px;
    position: relative;
    margin-top: 80px;
}

.eventimg {
    position: absolute;
    height: 300px;
    width: 350px;
    margin-top: -280px;
    margin-left: -500px;

}

.upcomingtext1 {
    font-size: 25px;
    font-weight: 600;
    color: #F96945;
    font-family: "Nanum Gothic", sans-serif;
    position: relative;
}

.upcomingtext2 {
    font-family: "Nanum Gothic", sans-serif;
}

.coll {
    transform: skewX(194deg);
}

.soontext{
    margin-left: 240px;
    color: black;
    font-size: 15px;
}

.soonbox{
    height: 40px !important;
    width: 40px !important;
    background-color: #F96945;
    position: absolute;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}