.text{
    font-size: 45px;
    font-weight: 800;
}
.vbg{
    width: 100% ;
    height: 350px;
    position: relative;
    background-image: url("../Assets/Assets/Vission/road1.jpg");
    background-size:contain;
}
 .vtext{
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 26px;
    line-height: 1.5;

 }

.mbg{
    width: 100% ;
    height: 370px;
    position: relative;
    background-image: url("../Assets/Assets/Vission/road2.png");
    background-size: cover;
}

.mtext{
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 28px;
    line-height: 1;
}