.text{
    font-size: 45px;
    font-weight: 700;
}
.vbg{
    width: 100% ;
    height: 350px;
    position: relative;
    background-image: url("../Assets/Assets/Vission/road1.jpg");
    background-size:contain;
}
 .vtext{
    color: white;
    font-family: 'Century Gothic Paneuropean', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    position: absolute;

 }

.mbg{
    width: 100% ;
    height: 370px;
    position: relative;
    background-image: url("../Assets/Assets/Vission/road2.png");
    background-size: cover;
}

@media (max-width:768px) {
    .vbg{
        background-repeat: no-repeat;
    }
    .vtext{
        font-size: 11px; 
        text-align: center; 
    }

    .mtext{
        font-size: 11px !important;
        text-align: center;
        padding: 20px;
    }
}

.mtext{
    color: white;
    font-family: 'Century Gothic Paneuropean', sans-serif;
    font-size: 26px;
    line-height: 1;
}